select {
  display: inline;
  height: auto;
  width: 8%;
}

iframe {
  position: absolute;
  top: 0;
  left: -12px;
  width: 780px;
  height: 370px;
  margin: 0;
  border: 0;
}

.tradingrow {
  /*display: inline-flex;
  margin: 20px 20px 20px 20px;*/
  display: flex;
  flex-direction: row;
  margin: auto;
}

.navigation-bar {
  border: 1px solid black;
  /*margin: 0 auto;*/
  padding: 0;
  position: relative;
  top: 0px;
  left: 65px;
  display: block;
  width: 1150px;
  height: 100px;
}

.left-account-summary {
  border: 1px solid black;
  position: absolute;
  top: 100px;
  left: 65px;
  display: block;
  width: 180px;
  height: 500px;
}

.top-chart {
  border: 1px solid black;
  position: absolute;
  top: 100px;
  left: 245px;
  display: block;
  width: 780px;
  height: 370px;
}

.middle-orders {
  border: 1px solid black;
  position: absolute;
  top: 470px;
  left: 245px;
  display: block;
  width: 780px;
  height: 130px;
}

.top-right-news {
  border: 1px solid black;
  position: absolute;
  top: 100px;
  left: 1025px;
  display: block;
  width: 190px;
  height: 500px;
}

.bottom-right-alt-data {
  border: 1px solid black;
  position: absolute;
  top: 55%;
  left: 80%;
  display: none;
  width: 15%;
  height: 40%;
}

.bottom-trading-strategy {
  border: 1px solid black;
  position: absolute;
  top: 600px;
  left: 65px;
  display: block;
  width: 1150px;
  height: 200px;
}
